# Variables Django (Backend)
DEBUG=False
SECRET_KEY=change-me-in-production
ALLOWED_HOSTS=*

# Paramètres base de données (Render conseille PostgreSQL)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=sghl
DB_USER=sghl
DB_PASSWORD=sghl_secret
DB_HOST=localhost
DB_PORT=5432

# Optionnel (si Django lit DATABASE_URL)
DATABASE_URL=

